.App {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.MainGrid {
  display: grid;
  gap: 5px;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
}

.blue {
  background-color: aquamarine;
}

.red {
  background-color: pink;
}
