.App {
  display: flex;
  font-family: sans-serif;
  justify-content: center;
}

.GameElements {
  display: flex;
  flex-direction: column;
}

.MainGrid {
  display: grid;
  gap: 5px;
  grid-template-rows: 50px 50px 50px;
  grid-template-columns: 50px 50px 50px;
}

.MainGrid__Button {
  border-radius: 5px;
}

.--blue {
  background-color: aquamarine;
}

.--red {
  background-color: pink;
}

.--white {
  background-color: white;
}
